*{
    margin: 0px;
    border: 0px;
}

html{
    background-color: rgba(155, 114, 180, 0.63);
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid seashell;
    padding-top: 10px;
    background-color: rgb(155, 114, 180);
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    padding-left: 15px;
    color: black;
    text-align: center;
}

article{
    margin-top: 70px;
}